<div class="container">
  <% if !@race %>
    <a href="/races"><< Back to Races Index</a>
    <h1>Error</h1>
    <p>No race with that ID exists.</p>

  <% elsif !@racial_ability %>
    <a href="/races/<%= @race.id %>"><< Back to <%= @race.name %></a>
    <h1>Error</h1>
    <p>No racial ability with that name exists for <%= @race.name %>.</p>

  <% else %>
    <a href="/races/<%= @race.id %>"><< Back to <%= @race.name %></a>
    <h1><%= @racial_ability.name %></h1>

    <p><b>Cooldown:</b> <%= @racial_ability.cooldown %></p>

    <div class="row">
      <div class="col-md-6">
        <p>
          <b>In-Game Effect:</b></br>
          <%= @racial_ability.in_game_effect %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <b>Flavor Text:</b></br>
          <em><%= @racial_ability.flavor_text %></em>
        </p>
      </div>
    </div>

    <p>
      ( <a href="/races/<%= @race.id %>/abilities/<%= @racial_ability.url_name %>/edit">
      Edit Info</a> )
    </p>

  <% end %>
</div>
