<div class="container">
  <a href="/">DnPnZ Home</a> >
    <a href="/characters">Characters</a> >
      <b><%= @character.name %></b>

  <h1><%= @character.name %></h1>

  <%#= Backstory %>
  <div class="row">
    <div class="col-md-6">
      <p>
        <em><%= @character.backstory %></em>
      </p>
    </div>
  </div>

  <%#= Role and Stat Indices %>
  <div class="row">
    <div class="col-md-2">
      <b>Age:</b> <%= @character.age %>
    </div>
    <div class="col-md-2">
      <b>Race:</b> <%= @character.race.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p> </p>
    </div>
  </div>

  <div class="row">

    <%#= Stats %>
    <div class="col-md-2">
      <p><b>Stats:</b></p>
      <table class="table table-striped table-condensed">
        <tbody>
          <% @character.stats.each do |key, stat| %>
            <tr>
              <td><%= key %>:</td>
              <td class="text-right"><%= @character.send(stat) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>(
        <a href="/characters/<%=@character.id%>/edit">Edit Info</a>
      )</p>
    </div>

    <div class="col-md-8">
      <p><b>Class levels:</b></p>
      <table class="table table-striped table-condensed">
        <tbody>
          <tr>
            <th class="text-right">Level</th>
            <th class="col-md-2 text-center">Name</th>
            <th class="col-md-1 text-center">Role</th>
            <th class="col-md-2 text-center">Armor Type</th>
            <th class="col-md-8">Flavor Text</th>
          </tr>
          <tr>
            <td class="text-right"><b><%= @character.base_level %></b></td>
            <td class="col-md-2 text-center">
              <b><a href="/base_classes/<%= @character.base_class_id %>">
                <%= @character.base_class.name %></a>
                (Base)</b>
            </td>
            <td class="col-md-1 text-center"><%= @character.base_class.role %></td>
            <td class="col-md-2 text-center"><%= @character.base_class.armor_type %></td>
            <td class="col-md-8"><em><%= @character.base_class.flavor_text %><em></td>
          </tr>
          <% @prestige_levels.each do |p_level| %>
            <% p_class = p_level.prestige_class %>
            <tr>
              <td class="text-right"><%= p_level.levels %></td>
              <td class="col-md-2 text-center">
                <a href="/prestige_classes/<%= p_class.id %>">
                  <%= p_class.name %>
                </a>
              </td>
              <td class="col-md-1 text-center"><%= p_class.role %></td>
              <td class="col-md-2 text-center"><%= p_class.armor_type %></td>
              <td class="col-md-8"><em><%= p_class.flavor_text %></em></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%#= Abilities %>
  <div class="row">
    <div class="col-md-10">
      <p><b>Abilities:</b></p>
      <table class="table table-striped table-condensed">
        <tbody>
          <% @character.abilities.each do |ability| %>
            <tr>
              <td>
                <a href="/abilities/<%= ability.id %>">
                  <%= ability.name %>
                </a>
              </td>
              <td><%= ability.in_game_effect %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
