
<a href="/">DnPnZ Home</a> >
  <a href="/races">Races</a> >
    <b>Error</b>

<h1>Uh-oh!</h1>

<div class="row">
  <div class="col-md-6">
    <p>
      You've entered a url for a racial ability that isn't available for
      <%= @race.name %>. <a href="/races/<%= @race.id %>">Click here</a> for
      an overview of <%= @race.name %>, including a list of all racial
      abilities available to them. Otherwise, you can
      <a href="/races/<%= @race.id %>/abilities/new">create a new racial
      ability for <%= @race.name %> here</a>.
    </p>
  </div>
</div>
